---
import Layout from '@layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { Picture } from 'astro:assets';
import RevealHeader from '@components/RevealHeader/RevealHeader.astro';
import SplitReveal2 from '@components/SplitReveal/SplitReveal2.astro';
import SplitReveal from '@components/SplitReveal/SplitReveal.astro';
import ronCherilus from '../assets/images/roncherilus.jpg';
import ContactFooter from '../components/ContactFooter/ContactFooter.astro';
import handsSvgRaw from '../assets/svgs/hands.svg?raw';
import LottieAnimation from 'astro-integration-lottie/Lottie.astro';
import plantAnimationUrl from '@images/faces.json?url';
import Navbar from '@components/Navigation/Navbar.astro';
// Extract only the non-ripple paths (skip SVG wrapper + first 6 paths which are ripple arcs)
const handsInnerPaths = handsSvgRaw
    .replace(/<svg[^>]*>/, '')
    .replace(/<\/svg>/, '')
    .split('\n')
    .slice(7)
    .join('\n');
---

<Layout title="À Propos">
    <div
        class="hero-section flex aspect-393/852 h-auto max-h-200 w-full flex-col justify-start gap-fluid-eighty overflow-hidden bg-bronze pt-[80px] pr-fluid-forty pb-fluid-forty pl-fluid-forty sm:min-h-[800px] md:relative md:aspect-1512/902 md:min-h-[902px] md:pb-fluid-270"
    >
        <div
            class="font-radio flex flex-row items-center justify-center border-b border-b-perle pt-fluid-forty pb-3 text-[0.875rem] text-perle uppercase lg:text-[1rem]"
        >
            Mission
        </div>

        <div
            class="flex w-full grow flex-col justify-end pt-fluid-forty md:h-fit md:flex-col md:justify-center"
        >
            <div
                class="z-0 -mt-20 flex w-full grow md:absolute md:right-0 md:mt-0 md:w-[50%] md:flex-col md:justify-center"
            >
                <hands-animation class="block h-full w-full">
                    <svg
                        class="h-full w-full overflow-visible mix-blend-multiply"
                        viewBox="0 0 700 450"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            class="ripple-arc"
                            d="M85.8859 60.0434H85.0865C85.4195 60.6403 82.3552 62.7222 82.0961 62.7877C80.0902 63.3337 80.4011 63.6758 78.9133 64.3601C76.9296 65.27 73.9244 66.573 73.1398 68.6767H71.9482V69.4629C70.7046 69.6303 67.8253 71.2463 67.1666 72.4037C67.0629 72.593 67.2406 72.9205 67.1666 72.9933C66.8335 73.3209 64.4723 73.6048 63.9837 74.3691C63.0733 75.774 62.9105 75.6211 61.7928 76.5311C56.5301 80.8113 52.6663 85.1716 47.6552 89.4882V90.6675C46.6486 90.5729 46.3155 91.2935 46.4635 92.2398C45.0498 91.9632 45.257 92.6766 44.8721 93.2225C44.3466 93.9577 43.1475 94.4163 43.2807 95.3845H42.4813L41.6819 97.3499H40.8825C41.1046 98.187 40.2312 99.3007 39.491 99.7084C39.1653 99.8904 38.2549 100.531 38.0994 101.084C37.374 103.566 34.8278 104.666 34.5169 107.17C33.9988 107.068 33.6065 107.323 33.3252 107.759C31.8449 110.023 30.6606 111.887 29.343 114.434C28.4696 116.116 27.5148 116.735 26.5525 118.358C24.5244 121.787 22.3557 125.827 21.3786 129.546L20.1869 130.136L20.5866 130.529C18.936 131.912 18.7287 134.11 18.1958 136.025C18.1588 136.149 17.3224 136.898 17.0041 137.597C15.161 141.586 14.11 145.947 12.2225 149.768C12.8295 151.632 9.8317 154.114 10.6311 156.05C9.13593 157.193 10.2536 159.188 9.0397 160.367L9.4394 161.153L8.2477 162.725C8.35873 163.424 8.10706 165.739 7.848 166.649C7.78878 166.867 7.11521 167.217 7.04859 167.435C6.36022 169.91 6.78213 173.026 5.4572 175.289C6.16778 176.207 5.59043 178.805 4.65779 179.606C5.42019 182.627 3.05899 187.06 3.85839 189.812C4.09525 190.627 3.17742 193.444 3.05899 194.521C2.85914 196.465 3.36987 198.976 3.05899 200.803C2.50385 204.094 2.42243 210.762 3.05899 214.539C3.27364 215.821 2.7185 218.121 3.05899 219.642C3.9176 223.464 3.57712 228.334 4.25069 232.599C4.51716 234.303 5.0945 236.377 5.44239 238.095C5.75327 239.646 5.4868 241.786 6.63409 242.805C6.07155 243.846 6.56007 246.372 7.43349 247.515C6.75252 248.527 7.64075 248.774 7.8332 249.48C8.51417 251.948 8.76583 254.787 9.4246 257.335C10.2462 260.486 11.5637 264.046 12.6074 267.147C13.207 268.93 14.184 270.496 14.5985 272.25C15.3609 275.489 17.7147 278.816 18.5807 282.259H19.3801C18.7287 284.108 21.1418 285.753 21.3712 286.772C21.8227 288.745 21.8227 288.337 22.5629 289.909C25.2424 295.616 29.4763 300.872 32.1187 306.594H32.9181C32.9403 308.595 35.6346 308.705 35.3089 310.91H36.5006C36.545 311.223 36.4192 311.645 36.5006 311.893C36.8633 312.985 43.2807 320.825 44.2652 321.509C45.1386 322.113 45.5457 322.462 46.0564 323.671C46.767 325.345 49.6611 326.743 50.838 328.381C52.0149 330.018 54.2799 331.27 54.8202 332.894C56.1378 332.697 56.0119 333.119 56.4116 333.876C57.1666 335.303 59.0171 336.228 60.5937 337.21C61.8446 337.989 63.436 341.083 65.5751 341.134V341.92C66.9815 341.847 70.6528 346.047 71.3486 346.237C72.3034 346.499 73.5025 346.157 73.5396 347.809C74.635 347.547 75.7675 348.253 76.3301 349.185C76.3819 349.272 76.2709 349.454 76.3301 349.578C76.4115 349.745 76.6927 349.833 76.7298 349.971C76.937 350.859 76.3819 351.325 76.3301 352.133C75.3604 351.354 75.3234 352.017 74.9385 352.133C73.9245 352.431 73.6136 351.398 72.9474 350.954C72.111 350.408 70.6158 350.015 69.7646 349.381C68.5951 348.515 68.151 346.994 66.382 347.416C65.8786 345.509 63.4064 344.541 61.8002 343.492C59.9941 342.313 58.0474 339.169 56.6263 338.39C55.4198 337.727 53.8432 335.864 52.2444 334.859C51.334 334.284 50.3569 331.511 48.462 331.722C48.8543 330.288 46.2637 329.443 46.0712 328.781C45.4495 326.648 44.0061 326.532 43.2807 325.25C42.4813 323.838 40.4162 322.484 39.2985 320.934C36.9447 317.665 34.3245 314.295 31.7338 310.728C29.2024 307.241 27.5592 304.279 25.3608 300.523C23.6806 297.655 21.6969 294.801 20.1869 291.889C19.9279 291.394 19.6614 290.324 19.3875 289.924C18.1144 288.053 18.0256 287.362 17.3964 285.214C17.1892 284.515 15.161 281.815 15.0056 281.291C14.2136 278.641 13.1996 276.253 12.2151 273.829C10.7051 270.117 9.50602 266.601 8.2329 262.838C7.72217 261.324 7.35207 259.715 7.04119 258.128C6.58968 255.828 5.59783 253.36 5.05009 251.06C4.09525 247.056 3.75477 243.067 2.2596 239.282C2.74072 236.45 1.29735 232.956 1.06789 229.862C0.127858 217.233 -0.575326 206.933 0.668188 196.494C-0.146017 194.776 0.942057 192.585 0.668188 190.998C0.327702 189.04 1.77107 186.529 1.06789 184.716C2.64449 181.433 2.11155 177.16 3.05899 173.724C4.00643 170.289 4.33211 166.088 5.84949 162.34L5.4498 161.553L6.2492 160.767L5.84949 159.981C7.27065 159.006 6.6637 157.033 7.04119 155.664C7.10041 155.446 7.77398 155.097 7.8406 154.878C8.2625 153.481 8.6326 152.192 9.0323 150.955C9.68366 148.924 10.0315 146.806 10.6237 144.673C10.6829 144.462 12.1559 142.926 12.2151 142.707C12.3631 142.183 12.0671 141.266 12.2151 140.742C12.2743 140.523 12.9479 140.174 13.0145 139.956C13.5919 137.968 14.147 136.687 15.0056 134.853C17.2558 130.063 19.5059 125.215 22.1706 120.331C23.5622 117.776 25.0203 115.155 26.5525 112.476C27.1817 111.377 27.8034 109.55 28.9433 109.535C29.7131 107.505 31.5932 104.942 32.9255 103.057C35.0943 99.9995 37.9514 97.4518 39.6982 94.4236C40.4236 93.1497 42.3851 91.228 43.6804 89.7139C45.864 87.1661 48.1734 84.4509 50.653 82.4491C52.8439 80.6803 54.576 78.5474 56.8261 76.9533V76.1671C57.5811 76.2763 58.1363 75.7376 58.0178 74.9878C58.1807 74.7913 58.5138 75.3809 58.6174 75.3809C58.9357 75.3809 60.0164 73.4446 60.8084 73.8086V73.0224C62.3405 72.7313 63.5914 70.5256 65.1902 70.2781V69.492C66.678 68.8805 69.4019 67.1335 69.9718 66.158C70.3938 65.4301 72.222 64.8623 72.9622 64.3892C75.5233 62.7659 77.4107 60.9169 80.1272 59.6795C81.0746 59.25 81.9185 58.3109 82.9177 58.1071C83.6061 57.9688 84.4647 58.4129 84.9088 57.7141C85.8045 58.4056 86.0783 58.9224 85.9081 60.0725L85.8859 60.0434Z"
                            fill="black"></path>

                        <path
                            class="ripple-arc"
                            d="M53.6222 140.915H52.8228C53.0375 142.975 49.2699 145.85 48.8406 147.394C48.3003 149.337 47.6785 149.621 46.8495 151.317C45.3025 154.498 43.7185 157.432 42.8673 160.737C42.0605 161.959 40.3285 163.794 40.8762 165.053C39.7511 166.385 39.4847 168.242 39.2848 169.959H38.4854C38.3744 171.015 38.3448 172.755 38.0857 173.686C38.0265 173.905 37.3529 174.254 37.2863 174.473C36.2426 178.061 35.6949 181.774 34.8955 185.464C34.4366 187.568 33.2005 191.135 33.7038 192.926C33.8888 193.574 33.0154 195.961 32.9044 196.849C32.7046 198.422 33.1561 200.445 32.9044 201.952C32.4381 204.711 32.179 209.734 32.9044 212.944C33.2153 214.312 32.5713 215.775 32.9044 217.26C33.4892 219.874 33.4965 223.339 34.0961 226.287C34.7771 229.65 34.8659 233.551 36.4869 236.492C36.065 237.642 36.4721 239.36 37.6786 240.416L37.2789 241.202L38.0783 241.988C37.5602 242.301 37.8489 242.571 38.0783 243.167C38.9443 245.439 39.3884 247.783 40.0694 250.236C40.1286 250.454 40.8022 250.803 40.8688 251.022C41.3425 252.645 42.7489 256.758 43.6593 258.09C44.7326 259.67 44.5549 259.721 45.2507 261.227C46.4424 263.804 48.3965 266.061 49.2329 268.885H50.0323C49.418 270.239 51.868 271.673 52.0234 272.219C52.3787 273.486 51.757 273.675 53.0227 274.381C54.1033 274.985 55.3395 279.528 57.2047 279.484C57.4046 279.644 56.805 279.972 56.805 280.074C56.805 280.248 58.1596 281.253 58.3964 281.646C58.4631 281.762 58.3446 282.235 58.7961 282.432L58.3964 283.808H56.0056C56.2351 282.942 55.147 282.629 54.8139 282.039C54.4216 281.34 53.6222 280.983 53.6222 280.86L54.0219 280.467C52.2011 278.865 50.8761 276.863 50.0397 274.774H49.2403C49.3809 273.988 48.5075 273.864 49.2403 273.398C48.093 271.899 46.9309 270.276 46.4498 268.492H45.6504C45.2359 266.796 43.8518 264.234 42.8599 262.8C41.8681 261.366 41.6978 260.004 40.8688 258.483C38.9295 254.938 37.6786 250.913 36.4869 247.098C35.4136 243.648 34.1775 240.168 33.3041 236.5C33.0894 235.59 32.934 234.389 32.1124 233.755C32.4233 229.919 30.1953 225.464 30.9207 221.584L30.1213 220.405C30.7579 218.964 29.729 217.814 30.1213 216.481C30.3508 215.695 29.5958 215.368 29.7216 214.909C30.3434 212.674 29.3071 208.744 29.7216 206.276C30.3434 202.593 29.1887 197.475 30.9133 194.105C29.6254 192.241 31.6165 190.334 30.9133 188.609C32.1642 186.52 31.8163 183.23 32.5047 180.755C32.5787 180.485 33.8962 178.709 33.6964 178.01C33.5928 177.639 34.2293 174.24 34.4958 173.301C34.5994 172.929 34.9991 172.573 35.2952 171.335C35.8207 169.137 36.746 167.128 37.2863 164.66C37.3825 164.231 38.4484 163.219 38.478 163.088C39.5439 159.252 41.4758 154.971 43.6519 151.703L43.2522 151.31C46.1981 146.709 48.9739 142.072 51.6163 137.377H52.4157C53.0819 136.336 53.6666 134.793 54.4068 133.65C54.6289 133.315 55.1322 133.017 55.4061 132.668L57.1973 134.436C56.5978 134.757 56.9087 135.23 56.7976 135.616C56.7162 135.9 55.6873 136.511 55.6059 136.795C55.073 138.637 53.563 139.001 53.6148 140.915H53.6222Z"
                            fill="black"></path>
                        <path
                            class="ripple-arc"
                            d="M99.422 137.769C99.3702 137.819 98.6966 137.63 98.2303 138.358C97.6011 139.326 96.8757 140.564 96.0393 140.913C94.4257 141.576 90.1401 147.079 89.4665 148.768H88.6671C87.1867 151.475 84.6479 153.914 82.6938 156.818C82.1164 157.67 82.072 159.534 80.7027 159.374C80.8137 160.451 80.7471 161.419 79.511 161.339L79.1113 163.697H78.3119C77.4533 167.257 74.1224 170.191 73.93 174.296H73.1306C73.2712 175.082 72.3978 175.206 73.1306 175.672C71.0284 178.504 70.6065 182.209 69.5481 185.484C68.9707 187.261 68.4304 189.175 67.9566 190.98C67.3497 193.281 67.5348 196.003 67.1573 198.442C66.9352 199.883 66.987 201.419 66.7575 202.758C66.3282 205.284 66.1432 209.186 66.7575 212.178C67.0314 213.502 66.4467 214.747 66.7575 216.101C67.927 221.248 68.0233 227.69 70.7398 232.982C70.4955 233.55 70.5251 234.612 70.7398 235.34C70.799 235.544 71.3541 235.675 71.1395 236.323H71.9389C70.9396 237.488 72.1905 237.597 72.3386 238.092C72.6346 239.082 72.5606 240.217 73.5303 240.836C72.7457 241.491 74.4851 243.115 74.722 243.974C75.4325 246.543 76.7797 248.989 78.3045 251.435C79.1705 252.818 79.5998 253.466 80.2956 254.965C80.6731 255.781 81.7389 257.579 82.6864 257.52C82.7826 259.631 85.2622 261.422 86.2689 263.213C86.7204 264.021 87.7418 264.356 87.8603 264.785C87.9565 265.12 87.764 265.63 87.8603 265.964C87.9861 266.43 89.0816 266.561 89.4517 267.144C90.9765 269.517 92.7159 270.711 94.2333 272.64C96.4982 275.529 100.036 278.638 102.797 280.69C104.1 281.659 103.293 282.117 105.188 282.656C105.802 282.831 105.884 284.767 107.379 284.228C107.638 285.597 106.535 285.953 105.588 286.587H105.188C104.551 286.281 104.093 285.757 103.597 285.407C101.524 283.959 99.3109 281.251 96.8239 279.518C96.0393 278.973 93.7744 276.774 93.4413 276.185C92.0423 273.71 88.8077 272.472 87.8677 269.706H87.0683C87.0905 267.93 85.1142 267.406 84.6775 266.372C83.6486 263.933 80.9839 262.143 80.2956 259.5H79.4962C79.1557 257.935 77.9196 256.742 77.1054 255.38C75.2771 252.33 73.5377 249.025 71.9315 245.961C69.4296 241.193 68.46 235.166 65.9582 230.652L66.3579 229.473L65.1662 227.901C65.0181 227.377 65.7139 227.246 65.5659 226.722C63.1454 218.467 63.4119 209.608 63.175 202.773C64.2557 200.472 63.1232 197.983 64.3668 196.098C63.56 194.977 64.9219 194.234 63.9671 193.353C65.4474 192.429 64.0781 190.747 65.5585 189.823C65.1143 188.272 66.0248 185.95 66.3579 184.72C68.1639 178.059 70.91 170.809 74.722 164.702L74.3223 164.309C75.4177 162.453 77.0314 160.706 77.5051 158.616H78.3045V157.437H79.1039C79.1927 155.253 82.4717 153.87 82.2867 151.548C83.3007 151.657 84.0853 150.049 84.2778 149.19H85.0772C86.4835 146.3 90.0512 143.614 91.4502 141.139C91.9165 140.316 94.1223 138.882 95.0327 137.608C95.9431 136.335 97.5123 135.33 98.815 134.274C99.7329 133.532 100.199 132.324 101.606 132.702C102.057 132.826 102.731 134.362 102.605 134.864C102.013 135.272 101.376 135.847 100.814 136.24C99.496 137.15 99.7551 137.485 99.422 137.812V137.769Z"
                            fill="black"></path>
                        <path
                            class="ripple-arc"
                            d="M571.528 136.546C571.579 136.597 572.253 136.408 572.719 137.135C573.349 138.104 574.074 139.341 574.91 139.691C576.524 140.353 580.81 145.856 581.483 147.545H582.283C583.763 150.253 586.302 152.691 588.256 155.596C588.833 156.447 588.878 158.311 590.247 158.151C590.136 159.228 590.203 160.196 591.439 160.116L591.838 162.475H592.638C593.496 166.034 596.827 168.968 597.02 173.073H597.819C597.678 173.86 598.552 173.983 597.819 174.449C599.921 177.281 600.343 180.986 601.402 184.262C601.979 186.038 602.519 187.952 602.993 189.758C603.6 192.058 603.415 194.78 603.792 197.219C604.014 198.66 603.963 200.196 604.192 201.536C604.621 204.061 604.806 207.963 604.192 210.955C603.918 212.28 604.503 213.525 604.192 214.879C603.023 220.025 602.926 226.467 600.21 231.759C600.454 232.327 600.425 233.39 600.21 234.118C600.151 234.322 599.596 234.453 599.81 235.1H599.011C600.01 236.265 598.759 236.374 598.611 236.869C598.315 237.859 598.389 238.995 597.419 239.614C598.204 240.269 596.465 241.892 596.228 242.751C595.517 245.321 594.17 247.766 592.645 250.212C591.779 251.595 591.35 252.243 590.654 253.743C590.277 254.558 589.211 256.356 588.263 256.298C588.167 258.409 585.687 260.199 584.681 261.99C584.229 262.798 583.208 263.133 583.089 263.563C582.993 263.897 583.186 264.407 583.089 264.742C582.964 265.208 581.868 265.339 581.498 265.921C579.973 268.294 578.234 269.488 576.716 271.417C574.451 274.307 570.913 277.415 568.152 279.468C566.85 280.436 567.656 280.895 565.762 281.433C565.147 281.608 565.066 283.544 563.571 283.006C563.312 284.374 564.414 284.731 565.362 285.364H565.762C566.398 285.058 566.857 284.534 567.353 284.185C569.426 282.736 571.639 280.028 574.126 278.296C574.91 277.75 577.175 275.552 577.508 274.962C578.907 272.487 582.142 271.249 583.082 268.483H583.881C583.859 266.707 585.835 266.183 586.272 265.149C587.301 262.711 589.966 260.92 590.654 258.278H591.453C591.794 256.713 593.03 255.519 593.844 254.158C595.673 251.108 597.412 247.803 599.018 244.738C601.52 239.97 602.49 233.943 604.991 229.43L604.592 228.251L605.783 226.678C605.931 226.154 605.236 226.023 605.384 225.499C607.804 217.244 607.538 208.385 607.775 201.55C606.694 199.25 607.826 196.76 606.583 194.875C607.39 193.754 606.028 193.011 606.983 192.131C605.502 191.206 606.872 189.525 605.391 188.6C605.835 187.05 604.925 184.728 604.592 183.497C602.786 176.837 600.04 169.587 596.228 163.479L596.627 163.086C595.532 161.23 593.918 159.483 593.445 157.394H592.645V156.215H591.846C591.757 154.031 588.478 152.648 588.663 150.326C587.649 150.435 586.864 148.826 586.672 147.967H585.872C584.466 145.077 580.898 142.391 579.499 139.916C579.033 139.094 576.827 137.66 575.917 136.386C574.984 135.09 573.437 134.107 572.135 133.052C571.217 132.309 570.75 131.101 569.344 131.479C568.893 131.603 568.219 133.139 568.345 133.641C568.937 134.049 569.574 134.624 570.136 135.017C571.454 135.927 571.195 136.262 571.528 136.59V136.546Z"
                            fill="black"></path>
                        <path
                            class="ripple-arc"
                            d="M617.319 139.685H618.119C617.904 141.745 621.672 144.62 622.101 146.163C622.641 148.107 623.263 148.391 624.092 150.087C625.639 153.268 627.223 156.202 628.074 159.506C628.881 160.729 630.613 162.564 630.065 163.823C631.19 165.155 631.457 167.011 631.657 168.729H632.456C632.567 169.785 632.597 171.525 632.856 172.456C632.915 172.675 633.589 173.024 633.655 173.243C634.699 176.831 635.247 180.544 636.046 184.234C636.505 186.338 637.741 189.905 637.238 191.696C637.053 192.343 637.926 194.731 638.037 195.619C638.237 197.191 637.786 199.215 638.037 200.722C638.504 203.481 638.763 208.503 638.037 211.714C637.726 213.082 638.37 214.545 638.037 216.03C637.452 218.644 637.445 222.109 636.846 225.057C636.165 228.42 636.076 232.321 634.455 235.262C634.877 236.412 634.469 238.13 633.263 239.186L633.663 239.972L632.863 240.758C633.381 241.071 633.093 241.34 632.863 241.937C631.997 244.208 631.553 246.552 630.872 249.006C630.813 249.224 630.139 249.573 630.073 249.792C629.599 251.415 628.193 255.528 627.282 256.86C626.209 258.44 626.387 258.49 625.691 259.997C624.499 262.574 622.545 264.831 621.709 267.655H620.909C621.524 269.009 619.074 270.443 618.918 270.989C618.563 272.256 619.185 272.445 617.919 273.151C616.838 273.755 615.602 278.297 613.737 278.254C613.537 278.414 614.137 278.742 614.137 278.843C614.137 279.018 612.782 280.023 612.545 280.416C612.479 280.532 612.597 281.005 612.146 281.202L612.545 282.578H614.936C614.707 281.711 615.795 281.398 616.128 280.809C616.52 280.11 617.319 279.753 617.319 279.63L616.92 279.236C618.741 277.635 620.065 275.633 620.902 273.544H621.701C621.561 272.758 622.434 272.634 621.701 272.168C622.849 270.669 624.011 269.045 624.492 267.262H625.291C625.706 265.566 627.09 263.004 628.082 261.57C629.074 260.136 629.244 258.774 630.073 257.253C632.012 253.708 633.263 249.683 634.455 245.868C635.528 242.418 636.764 238.938 637.637 235.269C637.852 234.36 638.008 233.158 638.829 232.525C638.518 228.689 640.746 224.234 640.021 220.354L640.82 219.175C640.184 217.734 641.213 216.584 640.82 215.251C640.591 214.465 641.346 214.138 641.22 213.679C640.598 211.444 641.634 207.513 641.22 205.046C640.598 201.362 641.753 196.245 640.028 192.875C641.316 191.011 639.325 189.104 640.028 187.379C638.777 185.29 639.125 182 638.437 179.525C638.363 179.255 637.045 177.479 637.245 176.78C637.349 176.409 636.712 173.01 636.446 172.071C636.342 171.699 635.943 171.343 635.646 170.105C635.121 167.907 634.196 165.898 633.655 163.43C633.559 163.001 632.493 161.989 632.464 161.858C631.398 158.021 629.466 153.741 627.29 150.473L627.689 150.08C624.743 145.479 621.968 140.842 619.325 136.147H618.526C617.86 135.106 617.275 133.563 616.535 132.42C616.313 132.085 615.809 131.787 615.536 131.437L613.744 133.206C614.344 133.527 614.033 134 614.144 134.386C614.225 134.669 615.254 135.281 615.336 135.565C615.869 137.406 617.379 137.77 617.327 139.685H617.319Z"
                            fill="black"></path>
                        <path
                            class="ripple-arc"
                            d="M585.066 58.8208H585.865C585.532 59.4177 588.597 61.4996 588.856 61.5651C590.862 62.111 590.551 62.4532 592.039 63.1374C594.022 64.0473 597.028 65.3503 597.812 67.454H599.004V68.2402C600.247 68.4076 603.127 70.0236 603.785 71.181C603.889 71.3703 603.711 71.6979 603.785 71.7707C604.118 72.0982 606.48 72.3821 606.968 73.1465C607.879 74.5514 608.041 74.3985 609.159 75.3084C614.422 79.5886 618.286 83.9489 623.297 88.2656V89.4448C624.303 89.3502 624.636 90.0708 624.488 91.0171C625.902 90.7405 625.695 91.4539 626.08 91.9999C626.605 92.7351 627.804 93.1937 627.671 94.1618H628.471L629.27 96.1272H630.069C629.847 96.9643 630.721 98.0781 631.461 98.4857C631.787 98.6677 632.697 99.3083 632.853 99.8615C633.578 102.344 636.124 103.443 636.435 105.947C636.953 105.845 637.345 106.1 637.627 106.537C639.107 108.801 640.291 110.664 641.609 113.212C642.482 114.893 643.437 115.512 644.399 117.135C646.428 120.564 648.596 124.604 649.573 128.324L650.765 128.913L650.365 129.306C652.016 130.689 652.223 132.888 652.756 134.802C652.793 134.926 653.63 135.676 653.948 136.375C655.791 140.364 656.842 144.724 658.729 148.546C658.122 150.409 661.12 152.891 660.321 154.828C661.816 155.97 660.698 157.965 661.912 159.144L661.513 159.93L662.704 161.503C662.593 162.202 662.845 164.516 663.104 165.426C663.163 165.645 663.837 165.994 663.903 166.212C664.592 168.687 664.17 171.803 665.495 174.067C664.784 174.984 665.361 177.583 666.294 178.383C665.532 181.404 667.893 185.837 667.094 188.589C666.857 189.404 667.774 192.221 667.893 193.299C668.093 195.242 667.582 197.754 667.893 199.581C668.448 202.871 668.529 209.539 667.893 213.317C667.678 214.598 668.233 216.898 667.893 218.42C667.034 222.241 667.375 227.111 666.701 231.377C666.435 233.08 665.857 235.155 665.51 236.873C665.199 238.423 665.465 240.563 664.318 241.582C664.88 242.623 664.392 245.149 663.518 246.292C664.199 247.304 663.311 247.551 663.119 248.257C662.438 250.725 662.186 253.564 661.527 256.112C660.706 259.264 659.388 262.823 658.344 265.924C657.745 267.708 656.768 269.273 656.353 271.027C655.591 274.266 653.237 277.593 652.371 281.036H651.572C652.223 282.885 649.81 284.53 649.581 285.549C649.129 287.522 649.129 287.114 648.389 288.687C645.71 294.394 641.476 299.649 638.833 305.371H638.034C638.012 307.373 635.317 307.482 635.643 309.688H634.451C634.407 310.001 634.533 310.423 634.451 310.67C634.089 311.762 627.671 319.602 626.687 320.286C625.813 320.89 625.406 321.24 624.896 322.448C624.185 324.122 621.291 325.52 620.114 327.158C618.937 328.796 616.672 330.048 616.132 331.671C614.814 331.475 614.94 331.897 614.54 332.654C613.785 334.081 611.935 335.005 610.358 335.988C609.107 336.767 607.516 339.86 605.377 339.911V340.697C603.97 340.625 600.299 344.825 599.603 345.014C598.648 345.276 597.449 344.934 597.412 346.586C596.317 346.324 595.184 347.03 594.622 347.962C594.57 348.05 594.681 348.232 594.622 348.355C594.54 348.523 594.259 348.61 594.222 348.748C594.015 349.636 594.57 350.102 594.622 350.91C595.592 350.131 595.629 350.794 596.013 350.91C597.027 351.209 597.338 350.175 598.005 349.731C598.841 349.185 600.336 348.792 601.187 348.159C602.357 347.292 602.801 345.771 604.57 346.193C605.073 344.286 607.546 343.318 609.152 342.27C610.958 341.091 612.904 337.946 614.326 337.167C615.532 336.505 617.109 334.641 618.708 333.637C619.618 333.061 620.595 330.288 622.49 330.499C622.098 329.065 624.688 328.221 624.881 327.558C625.502 325.425 626.946 325.309 627.671 324.028C628.471 322.616 630.536 321.262 631.653 319.711C634.007 316.443 636.627 313.072 639.218 309.506C641.75 306.019 643.393 303.056 645.591 299.3C647.271 296.432 649.255 293.578 650.765 290.667C651.024 290.172 651.291 289.102 651.564 288.701C652.838 286.831 652.926 286.139 653.556 283.992C653.763 283.293 655.791 280.592 655.946 280.068C656.738 277.418 657.752 275.031 658.737 272.607C660.247 268.894 661.446 265.378 662.719 261.615C663.23 260.101 663.6 258.492 663.911 256.905C664.362 254.605 665.354 252.137 665.902 249.837C666.857 245.833 667.197 241.844 668.692 238.059C668.211 235.228 669.655 231.733 669.884 228.64C670.824 216.01 671.527 205.71 670.284 195.271C671.098 193.553 670.01 191.362 670.284 189.776C670.624 187.817 669.181 185.306 669.884 183.493C668.307 180.211 668.84 175.938 667.893 172.502C666.938 169.029 666.62 164.866 665.102 161.117L665.502 160.331L664.703 159.545L665.102 158.758C663.681 157.783 664.288 155.81 663.911 154.442C663.852 154.223 663.178 153.874 663.111 153.656C662.689 152.258 662.319 150.97 661.92 149.732C661.268 147.701 660.92 145.583 660.328 143.45C660.269 143.239 658.796 141.703 658.737 141.485C658.589 140.96 658.885 140.043 658.737 139.519C658.678 139.301 658.004 138.951 657.937 138.733C657.36 136.746 656.805 135.465 655.946 133.63C653.696 128.84 651.446 123.992 648.781 119.108C647.39 116.553 645.932 113.932 644.399 111.254C643.77 110.154 643.149 108.327 642.009 108.313C641.239 106.282 639.359 103.72 638.026 101.834C635.858 98.7769 633.001 96.2291 631.254 93.2009C630.528 91.9271 628.567 90.0053 627.271 88.4912C625.088 85.9435 622.779 83.2283 620.299 81.2265C618.108 79.4576 616.376 77.3248 614.126 75.7306V74.9444C613.371 75.0536 612.816 74.515 612.934 73.7652C612.771 73.5686 612.438 74.1583 612.335 74.1583C612.016 74.1583 610.936 72.222 610.144 72.5859V71.7998C608.611 71.5086 607.361 69.303 605.762 69.0555V68.2693C604.274 67.6578 601.55 65.9108 600.98 64.9354C600.558 64.2075 598.73 63.6397 597.99 63.1665C595.429 61.5432 593.541 59.6943 590.825 58.4568C589.877 58.0273 589.033 57.0883 588.034 56.8845C587.346 56.7462 586.487 57.1902 586.043 56.4914C585.148 57.1829 584.874 57.6998 585.044 58.8499L585.066 58.8208Z"
                            fill="black"></path>

                        <Fragment set:html={handsInnerPaths} />
                    </svg>
                </hands-animation>
            </div>

            <RevealHeader
                delay={0.25}
                textColor={'#E1E3D0'}
                lines={[
                    { text: 'Tangible: Révéler', font: 'formula' },
                    { text: 'la pleine puissance', font: 'formula' },
                    { text: 'des leaders', font: 'editorial' },
                    { text: 'et des equipes.', font: 'editorial' }
                ]}
            />
        </div>
    </div>

    <div
        class="grid h-fit grid-cols-8 gap-mob-16 bg-perle pt-mob-128 pr-mob-16 pb-mob-128 pl-mob-16 md:min-h-[900px] md:grid-cols-12 md:gap-fluid-twenty md:pt-0 md:pr-fluid-forty md:pb-0 md:pl-fluid-forty xl:aspect-1512/913"
    >
        <div
            class="col-span-8 flex h-full flex-col justify-center gap-fluid-eighty md:col-span-8 md:col-start-3"
        >
            <p
                class="border-b border-b-white pb-mob-32 text-mob-body leading-[120%] font-light tracking-[3%] md:border-none md:pb-0 md:text-body-md"
            >
                <span class="font-bold text-bronze">Tangible</span> accompagne les leaders, équipes et
                entrepreneur·es en quête de sens, de cohérence et d’impact. Nos parcours sur mesure allient
                coaching, outils psychométriques, expériences immersives et ateliers pour faire émerger
                un leadership stratégique, humain et ancré.
            </p>
            <p
                class="pt-mob-16 text-mob-body leading-[120%] font-light tracking-[3%] md:pt-0 md:text-body-md"
            >
                Notre approche active les ressources individuelles et collectives pour naviguer la
                complexité du monde du travail avec clarté et agilité.
            </p>
        </div>
    </div>
    <div
        class="gap-y-mob-0 grid grid-cols-8 gap-mob-16 bg-offwhite pt-mob-64 pr-mob-16 pl-mob-16 md:grid-cols-12 md:gap-x-fluid-twenty md:gap-y-fluid-twenty md:pt-fluid-forty md:pr-fluid-forty md:pl-fluid-forty"
    >
        <div class="col-span-8 md:col-span-12">
            <div
                class="font-radio flex flex-row items-center justify-center border-b border-b-perle pb-mob-16 text-[0.875rem] tracking-[3%] uppercase md:pb-fluid-twenty md:text-[1rem]"
            >
                Notre approche
            </div>
        </div>
        <circles-animation class="col-span-6 col-start-2 w-full md:col-start-4">
            <div class="circles-wrapper">
                <div class="circle c1">
                    <div class="yellow y1"></div>
                    <SplitReveal2 class="text-circles-text leading-[120%] text-black">
                        Alignement<br />Vertical
                    </SplitReveal2>
                </div>
                <div class="circle c2">
                    <SplitReveal2 class="text-circles-text leading-[120%] text-black">
                        Direction<br />Strategique
                    </SplitReveal2>
                </div>
                <div class="circle c3">
                    <div class="yellow y3"></div>
                    <SplitReveal2 class="text-circles-text leading-[120%] text-black">
                        Intégration<br />Évolutive
                    </SplitReveal2>
                </div>
            </div>
        </circles-animation>
        <div
            class="col-span-6 col-start-2 -mt-mob-128 w-full pb-mob-128 text-body-caption leading-[120%] tracking-[2%] md:col-start-4 md:-mt-80 md:pb-fluid-270"
        >
            <div class="-mt-mob-64 md:border-t md:border-t-perle md:pt-fluid-forty">
                Inspirée de la méthode I AM de Ron Cherilus, Tangible déploie trois étapes clés dans
                chacun de ses programmes: alignement vertical, direction stratégique et intégration
                évolutive. Un processus fluide pour se reconnecter à son intention, prendre des
                décisions avec justesse, et faire évoluer son leadership avec profondeur.
            </div>
        </div>
    </div>
    <div
        class="relative flex h-auto w-full flex-col justify-center gap-0 bg-bronze pt-mob-32 pr-mob-16 pb-mob-128 pl-mob-16 text-offwhite sm:aspect-1512/913 md:gap-fluid-twenty md:pt-fluid-forty md:pr-fluid-forty md:pb-fluid-eighty md:pl-fluid-forty"
    >
        <div
            class="font-radio col-span-12 flex grow flex-row items-center justify-center border-b border-b-perle pb-mob-16 text-[0.875rem] tracking-[3%] uppercase md:absolute md:top-10 md:right-fluid-forty md:left-fluid-forty md:pb-fluid-twenty lg:text-[1rem]"
        >
            Vision
        </div>
        <div class="relative grid h-auto grid-cols-12 gap-fluid-twenty pt-mob-128 md:pt-0">
            <div
                class="col-span-12 h-fit pt-mob-32 text-black md:col-span-7 md:pt-0 md:pr-fluid-sixty md:pl-fluid-forty"
            >
                <div class="w-full mix-blend-multiply">
                    <LottieAnimation src={plantAnimationUrl} autoplay={true} loop={true} />
                </div>
            </div>
            <SplitReveal
                class="font-radio col-span-12 flex h-full w-full flex-col items-start justify-center pt-mob-128 text-mob-body leading-[120%] font-light tracking-[3%] md:col-span-4 md:pt-0 md:text-test"
            >
                <span class="text-left"
                    >Le leadership authentique s’enracine dans la clarté, la conscience de soi et la
                    responsabilité partagée. Il fait émerger des personnes et des collectifs
                    cohérents, impactants et profondément humains.</span
                >
            </SplitReveal>
        </div>
    </div>
    <div
        class="relative grid h-fit grid-cols-8 gap-y-mob-64 bg-perle pt-mob-32 pr-mob-16 pb-fluid-270 pl-mob-16 md:grid-cols-12 md:gap-y-fluid-270 md:pt-fluid-forty md:pr-fluid-forty md:pl-fluid-forty"
    >
        <div
            class="font-radio relative col-span-8 flex grow flex-row items-center justify-center border-b border-b-offwhite pb-mob-16 text-[0.875rem] tracking-[3%] uppercase md:col-span-12 md:pb-fluid-twenty lg:text-[1rem]"
        >
            Notre promesse
        </div>
        <div class="relative col-span-8 flex flex-col items-center justify-center md:col-start-3">
            <div class="relative grid w-full grid-cols-8">
                <p
                    class="col-span-6 col-start-2 w-[60%] pb-fluid-eighty text-header-two leading-[120%] font-normal tracking-[1%] xs:w-full"
                >
                    Chez Tangible, on s'engage à
                </p>
                <div
                    class="col-span-8 grid grid-cols-8 gap-fluid-twenty border-t border-offwhite py-[2rem] md:py-fluid-twenty"
                >
                    <div class="col-span-1 pt-1 font-formula text-list-num text-bronze md:pt-0">
                        <h4>1</h4>
                    </div>
                    <SplitReveal class="col-span-7 pt-1 text-list-lg leading-[120%]"
                        >Ancrer chaque parcours avec présence et intention.</SplitReveal
                    >
                </div>
                <div
                    class="col-span-8 grid grid-cols-8 gap-fluid-twenty border-t border-offwhite py-[2rem] md:py-fluid-twenty"
                >
                    <div class="col-span-1 pt-1 font-formula text-list-num text-bronze md:pt-0">
                        <h4>2</h4>
                    </div>
                    <SplitReveal class="col-span-7 pt-1 text-list-lg leading-[120%]"
                        >Nourrir la connexion, la collaboration et la co-création.</SplitReveal
                    >
                </div>
                <div
                    class="col-span-8 grid grid-cols-8 gap-fluid-twenty border-t border-offwhite py-[2rem] md:py-fluid-twenty"
                >
                    <div class="col-span-1 pt-1 font-formula text-list-num text-bronze md:pt-0">
                        <h4>3</h4>
                    </div>
                    <SplitReveal class="col-span-7 pt-1 text-list-lg leading-[120%]"
                        >Créer des espaces où la vérité peut s’exprimer.</SplitReveal
                    >
                </div>
                <div
                    class="col-span-8 grid grid-cols-8 gap-fluid-twenty border-t border-b border-offwhite py-[2rem] md:py-fluid-twenty"
                >
                    <div class="col-span-1 pt-1 font-formula text-list-num text-bronze md:pt-0">
                        <h4>4</h4>
                    </div>
                    <SplitReveal class="col-span-7 pt-1 text-list-lg leading-[120%]"
                        >Accompagner chaque croissance avec générosité.</SplitReveal
                    >
                </div>
                <div
                    class="col-span-8 grid grid-cols-8 gap-fluid-twenty border-b border-offwhite py-[2rem] md:py-fluid-twenty"
                >
                    <div class="col-span-1 pt-1 font-formula text-list-num text-bronze md:pt-0">
                        <h4>5</h4>
                    </div>
                    <SplitReveal class="col-span-7 pt-1 text-list-lg leading-[120%]"
                        >Offrir des résultats tangibles et durables.</SplitReveal
                    >
                </div>
            </div>
        </div>
    </div>
    <div
        class="grid grid-cols-8 gap-fluid-twenty bg-offwhite pt-16 pr-fluid-forty pb-32 pl-fluid-forty sm:grid-cols-12 sm:pt-44 sm:pb-40"
    >
        <div class="col-span-7 col-start-2 flex flex-col sm:hidden">
            <h1 class="font-radio pb-5 text-list-lg leading-[120%] sm:pb-fluid-twenty">
                Ron Cherilus
            </h1>
            <h2
                class="font-radio border-t border-b border-bronze pt-8 pb-[20px] text-header-two leading-[120%] sm:pt-fluid-twenty sm:pb-fluid-twenty"
            >
                Fondateur de Tangible<br />et du Centre I AM
            </h2>
        </div>

        <div class="col-span-6 col-start-2 pt-16 sm:col-span-5 sm:col-start-0 sm:pt-0">
            <Picture src={ronCherilus} alt="Ron Cherilus" class="h-auto w-full object-cover" />
        </div>

        <div
            class="col-span-6 col-start-2 grid grid-cols-6 gap-fluid-twenty border-b border-bronze pt-16 pb-16 sm:hidden sm:pt-0 sm:pb-0"
        >
            <p
                class="col-span-6 pt-fluid-sixty pb-fluid-sixty text-body-caption leading-[120%] tracking-[3%]"
            >
                Coach de direction et fondateur du Centre I AM à Montréal en 2012, Ron Chérilus
                lance en 2025 Tangible, un collectif d’experts en accompagnement stratégique et
                humain au service des entreprises et des organisations.<br /><br />Tangible est un
                réseau de professionnel·les trié·es sur le volet : coachs, experts en leadership, en
                stratégie et en intelligence émotionnelle réuni·es pour créer les conditions d’une
                transformation réelle, concrète et durable.<br /><br />Fort de plus de 15 ans
                d’expérience, Ron conçoit, structure et facilite des espaces de réflexion et de
                décision à fort impact, où les personnes, les enjeux et les choix s’alignent. Il
                accompagne dirigeant·es, entrepreneur·es et équipes dans des moments clés de leur
                trajectoire : croissance, transformation, repositionnement ou prises de décisions
                majeures.<br /><br />Certifié par plusieurs programmes de pointe en développement du
                leadership (GLP, LCP, MPO), il allie clarté stratégique et travail intérieur
                profond. Créateur de la méthode I AM, il soutient l’émergence d’un leadership
                incarné, conscient et humain, au service de décisions tangibles, alignées et
                pérennes.
            </p>
        </div>

        <div class="col-span-6 col-start-7 hidden flex-col sm:flex">
            <h1 class="font-radio pb-fluid-twenty text-circles-text leading-[120%]">
                Ron Cherilus
            </h1>
            <h2
                class="font-radio border-t border-b border-bronze pt-fluid-twenty pb-fluid-twenty text-header-two leading-[120%]"
            >
                Fondateur de Tangible<br />et du Centre I AM
            </h2>
            <div class="grid grid-cols-6 gap-fluid-twenty border-b border-bronze">
                <p
                    class="col-span-6 pt-fluid-sixty pb-fluid-sixty text-body-caption leading-[120%] tracking-[3%] xl:col-span-4"
                >
                    Coach de direction et fondateur du Centre I AM à Montréal en 2012, Ron Chérilus
                    lance en 2025 Tangible, un collectif d’experts en accompagnement stratégique et
                    humain au service des entreprises et des organisations.<br /><br />Tangible est
                    un réseau de professionnel·les trié·es sur le volet : coachs, experts en
                    leadership, en stratégie et en intelligence émotionnelle réuni·es pour créer les
                    conditions d’une transformation réelle, concrète et durable.<br /><br />Fort de
                    plus de 15 ans d’expérience, Ron conçoit, structure et facilite des espaces de
                    réflexion et de décision à fort impact, où les personnes, les enjeux et les
                    choix s’alignent. Il accompagne dirigeant·es, entrepreneur·es et équipes dans
                    des moments clés de leur trajectoire : croissance, transformation,
                    repositionnement ou prises de décisions majeures.<br /><br />Certifié par
                    plusieurs programmes de pointe en développement du leadership (GLP, LCP, MPO),
                    il allie clarté stratégique et travail intérieur profond. Créateur de la
                    méthode I AM, il soutient l’émergence d’un leadership incarné, conscient et
                    humain, au service de décisions tangibles, alignées et pérennes.
                </p>
            </div>
        </div>
    </div>
    <ContactFooter heading="Initiez un changement concret." />
</Layout>
<style>
    .circles-wrapper {
        --gap-pct: 20%; /* gap between circles as % of wrapper width */
        position: relative;
        width: 100%;
        /* height = 3 circles tall + 2 gaps, all derived from width via aspect-ratio */
        /* Each circle is 100% wide and 100% tall (square). Gap is 20% of width. */
        /* Total height = 3 * width + 2 * (0.2 * width) = 3.4 * width */
        aspect-ratio: 1 / 3.4;
    }

    .circle {
        position: absolute;
        width: 100%;
        aspect-ratio: 1; /* height always equals width — stays a perfect circle */
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        /* Fix WebKit/Safari border-radius rendering bug during transitions */
        transform: translateZ(0);
        -webkit-mask-image: -webkit-radial-gradient(white, black);
    }

    .c1 {
        top: 0;
        background: #997e4e;
        color: white;
        z-index: 2;
    }

    .c2 {
        /* 1 circle height (=100% width) + 1 gap (=20% width) = 120% */
        top: 29.41%; /* 120% of width / 3.4 (the aspect ratio divisor) */
        background: #e1e3d0;
        color: #333;
        z-index: 1;
    }

    .c3 {
        /* 2 * (circle + gap) = 240% of width = 58.82% of wrapper height */
        top: 58.82%;
        background: #a29a93;
        color: white;
        z-index: 2;
    }

    .yellow {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: #f4e727;
        pointer-events: none;
    }
</style>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger);

    class CirclesAnimation extends HTMLElement {
        private ctx: gsap.Context | undefined;
        private resizeTimer: ReturnType<typeof setTimeout> | undefined;

        private onResize = () => {
            clearTimeout(this.resizeTimer);
            this.resizeTimer = setTimeout(() => this.initCircles(), 250);
        };

        private initCircles() {
            document.fonts.ready.then(() => {
                requestAnimationFrame(() => {
                    const wrapper = this.querySelector('.circles-wrapper');
                    const c1 = this.querySelector('.c1') as HTMLElement | null;
                    const c2 = this.querySelector('.c2') as HTMLElement | null;
                    const c3 = this.querySelector('.c3') as HTMLElement | null;
                    const y1 = this.querySelector('.y1');
                    const y3 = this.querySelector('.y3');

                    if (!c1 || !c2 || !c3 || !wrapper) return;

                    this.ctx?.revert();
                    this.ctx = gsap.context(() => {
                        const size = c1.offsetWidth;
                        const overlap = 0.25 * size;
                        const finalDist = size - overlap; // 0.75 * size

                        const c1Top = c1.offsetTop;
                        const c2Top = c2.offsetTop;
                        const c3Top = c3.offsetTop;

                        // How far c2 travels up to sit `finalDist` below c1's top
                        const c2Delta = c2Top - (c1Top + finalDist);
                        // c2's final top position
                        const c2FinalTop = c2Top - c2Delta;
                        // How far c3 travels up to sit `finalDist` below c2's final top
                        const c3Delta = c3Top - (c2FinalTop + finalDist);
                        const mobileStart = () => (window.innerWidth < 768 ? 'top 70%' : 'top 40%');
                        // ── y1 (inside stationary c1) ──────────────────────────
                        // Rests at top: finalDist so it's visible only in c1's
                        // bottom `overlap` strip. Start shifted down by `overlap`
                        // (outside the clip), animate to y:0 as c2 slides in.
                        gsap.set(y1, { top: finalDist, left: 0, y: overlap });
                        gsap.to(y1, {
                            y: 0,
                            duration: 1.4,
                            ease: 'power3.inOut',
                            scrollTrigger: {
                                trigger: c1,
                                start: mobileStart, // re-evaluated on refresh
                                invalidateOnRefresh: true
                            }
                        });

                        // c2 slides up into c1
                        gsap.to(c2, {
                            y: -c2Delta,
                            duration: 1.4,
                            ease: 'power3.inOut',
                            scrollTrigger: {
                                trigger: c1,
                                start: mobileStart, // re-evaluated on refresh
                                invalidateOnRefresh: true
                            }
                        });

                        // ── y3 (inside moving c3) ──────────────────────────────
                        // Rests at top: -finalDist so it's visible only in c3's
                        // top `overlap` strip. Start shifted up by `overlap`
                        // (outside the clip), animate to y:0 as c3 slides in.

                        // c3 slides up into c2
                        gsap.to(c3, {
                            y: -c3Delta,
                            duration: 1.4,

                            ease: 'power3.inOut',
                            scrollTrigger: {
                                trigger: c2,
                                start: mobileStart, // re-evaluated on refresh
                                invalidateOnRefresh: true
                            }
                        });
                        gsap.set(y3, { top: -finalDist, left: 0, y: -overlap });
                        gsap.to(y3, {
                            y: 0,
                            duration: 1.4,
                            ease: 'power3.inOut',
                            scrollTrigger: {
                                trigger: c2,
                                start: mobileStart, // re-evaluated on refresh
                                invalidateOnRefresh: true
                            }
                        });
                    }, this);
                });
            });
        }

        connectedCallback() {
            this.initCircles();
            window.addEventListener('resize', this.onResize);
        }

        disconnectedCallback() {
            window.removeEventListener('resize', this.onResize);
            this.ctx?.revert();
            clearTimeout(this.resizeTimer);
        }
    }

    if (!customElements.get('circles-animation')) {
        customElements.define('circles-animation', CirclesAnimation);
    }
</script>

<script>
    import { gsap } from 'gsap';

    class HandsAnimation extends HTMLElement {
        private ctx: gsap.Context | undefined;

        connectedCallback() {
            const svg = this.querySelector('svg');
            if (!svg) return;

            const ripples = svg.querySelectorAll('.ripple-arc');
            if (!ripples.length) return;

            this.ctx = gsap.context(() => {
                const cycleDuration = 2;
                const stagger = 0.1;

                ripples.forEach((el, i) => {
                    gsap.set(el, { svgOrigin: '335.5 211.5' });

                    gsap.fromTo(
                        el,
                        { scale: 1, opacity: 1 },
                        {
                            scale: 1.1,
                            opacity: 0,
                            duration: cycleDuration,
                            ease: 'power3.Out',
                            repeat: -1,
                            yoyo: true,

                            delay: i * stagger
                        }
                    );
                });
            });
        }

        disconnectedCallback() {
            this.ctx?.revert();
        }
    }

    if (!customElements.get('hands-animation')) {
        customElements.define('hands-animation', HandsAnimation);
    }
</script>
